{
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 80,
    "endOfLine": "lf",
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "plugins": ["prettier-plugin-tailwindcss"]
}
